@font-face {
  font-family: "rampart";
  src: url(../font/Rampart_One/RampartOne-Regular.ttf); }
@font-face {
  font-family: "dosis";
  src: url(../font/Dosis/Dosis-VariableFont_wght.ttf); }
@font-face {
  font-family: "hina";
  src: url(../font/Hina_Mincho/HinaMincho-Regular.ttf); }
@font-face {
  font-family: "klee";
  src: url(../font/Klee_One/KleeOne-Regular.ttf); }
@font-face {
  font-family: "comfortaa";
  src: url(../font/Comfortaa/Comfortaa-VariableFont_wght.ttf); }
body {
  width: 100%;
  height: auto;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background: #c4cccc; }

.header {
  background: #1d2528;
  margin-bottom: 25px;
  box-shadow: 2px 2px 14px #1d2528; }
  .header-h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 5%;
    height: 50px;
    font-family: "rampart";
    color: #c69b6d;
    font-size: 2.3rem;
    font-size: 2.5rem;
    letter-spacing: 0.3rem; }
  .header-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .header-lienPanier {
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-bottom: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: #c69b6d;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: "comfortaa"; }

main {
  width: 100%;
  margin-top: 50px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center; }

#fiche {
  border: 1px solid black;
  width: 80%;
  height: auto;
  border: 0;
  margin-bottom: 40px;
  background-color: #efece8;
  box-shadow: 4px 4px 6px #aaa;
  border-radius: 15px; }
  #fiche_titre {
    text-transform: capitalize;
    margin-top: 10px;
    font-family: "dosis"; }
  #fiche_body {
    margin-bottom: 0;
    width: 90%;
    margin-left: 5%;
    font-family: "hina"; }
  #fiche_btn {
    margin-top: 2px; }
  #fiche_prix {
    font-family: "klee"; }

.btnIndex {
  border: 2px solid teal;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #c69b6d;
  border-radius: 10px;
  font-family: "dosis"; }

#img1 {
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px; }

#produit_lien {
  text-decoration: none;
  color: #1d2528; }

#btnEnvoyer {
  margin-bottom: 20px;
  font-family: "comfortaa"; }

.footer {
  background: #1d2528; }
  .footer-ul {
    display: flex;
    padding-left: 0px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column; }
    .footer-ul_li {
      list-style: none;
      margin-right: 20px;
      color: #c69b6d;
      font-size: 1.2rem;
      padding-bottom: 10px;
      font-family: "dosis";
      cursor: pointer; }

.container-panier_article {
  border: solid 1px;
  margin: 10px;
  box-shadow: 0px 2px 20px #1d2528; }
  .container-panier_article-ligne1 {
    display: flex;
    justify-content: center;
    background: #1d2528;
    color: #c69b6d;
    padding-top: 5px;
    padding-bottom: 5px; }
  .container-panier_article-ligne2 {
    background: #c69b6d;
    color: #1d2528;
    padding-top: 5px;
    padding-bottom: 5px; }

#form-container {
  margin-top: 2rem;
  text-align: center; }

form {
  width: 70%;
  margin-left: 15%; }

label {
  letter-spacing: 1px; }

input[type="text"] {
  margin: 7px 0 7px;
  border: 1px solid transparent;
  background: #ebf4f2;
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  padding-left: 10px;
  transition: 0.2s; }

input[type="text"]:focus {
  border: 1px solid #5ef9a4; }

span {
  margin-bottom: 20px;
  display: block;
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  color: red; }

#security span {
  display: inline; }

input[type="submit"] {
  border: solid 1px black;
  background: #c69b6d;
  width: auto;
  margin: 12px auto 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 14px #1d2528;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 45px; }

.error input {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.527); }

.error span {
  visibility: visible;
  opacity: 1;
  color: red; }

.text-success {
  color: green; }

.text-danger {
  color: red; }

/*# sourceMappingURL=style.css.map */
