#fiche {
  border: 2px black;
  &_titre {
    text-transform: capitalize;
    margin-top: 0;
  }
  &_body {
    margin-bottom: 0;
  }
  &_btn {
    margin-top: 2px;
  }
}
#img1 {
  width: 200px;
  height: 165px;
}
